<% layout('/layouts/boilerplate') -%>
<body class="bg-light">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-lg">
            <div class="card-header text-center">
              <h4>Login to Your Account</h4>
            </div>
            <div class="card-body">
              <form action="/user/login" method="POST" novalidate>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    required
                  >
                  <div class="invalid-feedback">Username is required.</div>
                </div>
                
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  >
                  <div class="invalid-feedback">Password is required.</div>
                </div>
  
                <button type="submit" class="btn btn-primary w-100">Login</button>
              </form>
            </div>
            <div class="card-footer text-center">
              <small>Don't have an account? <a href="/user/signup">Sign up</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>